<nav
class="navbar navbar-expand-lg navbar-light bg-light shadow-sm"><div
class="container-fluid">
  <a class="navbar-brand" href="">VahanaMitra</a>

    <button
    class="navbar-toggler d-lg-none"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#mainNavbar"
    aria-controls="mainNavbar"
    aria-expanded="false"
    aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    <div
    class="collapse navbar-collapse"
    id="mainNavbar">
        <ul
        class="navbar-nav me-auto mb-2 mb-lg-0">
            <li
            class="nav-item"><a href="" class="nav-link">Dashboard</a></li>
            <li
            class="nav-item"><a href="" class="nav-link">Truck Register</a>
        </ul>

        <ul
        class="navbar-nav ms-auto mb-2 md-lg-0">
            {% if current_user.is_authenticated %}
                <li
                class="nav-item"><a href="#" class="nav-link disabled">{{ current_user.fullname }}</a></li>
                <li
                class="nav-item"><a href="" class="nav-link text-danger">LOG OUT</a></li>
            {% else %}
                <li
                class="nav-item d-flex align-items-center">
                    <a href="" class="nav-link">SIGIN UP</a>
                    <span class="mx-1">/</span>
                    <a href="" class="nav-link">LOGIN</a></li>
            {% endif %}
        </ul>
    </div>
</div></nav>
